#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #korisnici {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #korisnici td, #korisnici th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #korisnici tr:nth-child(even){background-color: #f2f2f2;}
  
  #korisnici tr:hover {background-color: #ddd;}
  
  #korisnici th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(76, 119, 175);
    color: white;
  }

  .btn {
      margin-top: 5%;
    background-color: rgb(76, 119, 175);
  }