.footerUposlenici {
    .btn {
        margin-top: 2%;
    }
}
.formaUposlenici {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;


    .form-grupaUposlenici {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        label {
          font-size: 16px;
        }
        input {
          margin-top: 6px;
          min-width: 18em;
          height: 25px;
          padding: 0px 10px;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          background-color: #f3f3f3;
          border: 1px solid #000;
          border-radius: 10px;
          margin-bottom:10px;
          transition: all 250ms ease-in-out;
          &:hover {
            background-color: #ffffff;
            box-shadow: 0px 0px 14px 0.3px #0e81ce96;
          }
  
          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #3474dbb2;
          }
        }
    }
}

.btnDodaj {
    margin-top: 2%;
    background-color: rgb(76, 119, 175);
    font-size: 21px;
    padding: 5px 20px;
    border: 0;
    color: #fff;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.formaUposleniciVjestine {
    width: fit-content;
    flex-direction: column;
    width: fit-content;
    position:absolute;
    top:43%;
    left:4%; 

    label {
        font-size: 16px;
        ;
    }
    .btnPretrazi {
        margin-top:4%;
        background-color: rgb(76, 119, 175);
        font-size: 21px;
        padding: 5px 20px;
        border: 0;
        color: #fff;
        border-radius: 3px;
        transition: all 250ms ease-in-out;
        cursor: pointer;
    }
    .dropdownPretrazi {
        margin-top:4%;
    }


}